@charset "UTF-8";
/*===========================
Table of Content

1. Libs
1.1. Fonts
1.2. Variables
1.3. Mixins
1.4. Global syyles
1.5. Helpers styles

3. Parts
3.1. Header
===========================*/
/* Libs
 ----------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@font-face {
  font-family: 'Gill Sans Light';
  src: url("../fonts/Gill Sans Light/Gill Sans Light.eot");
  src: url("../fonts/Gill Sans Light/Gill Sans Light.woff2") format("woff2"), url("../fonts/Gill Sans Light/Gill Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gill Sans Light/Gill Sans Light.woff") format("woff"), url("../fonts/Gill Sans Light/Gill Sans Light.ttf") format("truetype"), url("../fonts/Gill Sans Light/Gill Sans Light.svg#Gill Sans Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans MT';
  src: url("../fonts/Gill Sans MT/Gill Sans MT.eot");
  src: url("../fonts/Gill Sans MT/Gill Sans MT.woff2") format("woff2"), url("../fonts/Gill Sans MT/Gill Sans MT.eot?#iefix") format("embedded-opentype"), url("../fonts/Gill Sans MT/Gill Sans MT.woff") format("woff"), url("../fonts/Gill Sans MT/Gill Sans MT.ttf") format("truetype"), url("../fonts/Gill Sans MT/Gill Sans MT.svg#Gill Sans MT") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans MT Light';
  src: url("../fonts/Gill Sans MT Light/Gill Sans MT Light.eot");
  src: url("../fonts/Gill Sans MT Light/Gill Sans MT Light.woff2") format("woff2"), url("../fonts/Gill Sans MT Light/Gill Sans MT Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gill Sans MT Light/Gill Sans MT Light.woff") format("woff"), url("../fonts/Gill Sans MT Light/Gill Sans MT Light.ttf") format("truetype"), url("../fonts/Gill Sans MT Light/Gill Sans MT Light.svg#Gill Sans MT Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arial MT';
  src: url("../fonts/Arial MT/Arial MT.eot");
  src: url("../fonts/Arial MT/Arial MT.woff2") format("woff2"), url("../fonts/Arial MT/Arial MT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial MT/Arial MT.woff") format("woff"), url("../fonts/Arial MT/Arial MT.ttf") format("truetype"), url("../fonts/Arial MT/Arial MT.svg#Arial MT") format("svg");
  font-weight: normal;
  font-style: normal; }

.grid:after, .footer:after, .form__row:after, .main__content:after, .header:after, .navbar:after, .addresses:after, .addresses__down:after, .slick-dots:after {
  content: '';
  display: table;
  clear: both; }

.grid:before, .footer:before {
  content: '';
  display: table;
  clear: both; }

.fl__left {
  float: left; }

.fl_right {
  float: right; }

* {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, body, .wrapper {
  height: 100%;
  position: relative; }

body {
  color: #5d5d5d;
  font-family: "Gill Sans MT", sans-serif;
  background: url("../img/body_bg.png") 0 0;
  background-size: cover; }

input, textarea {
  outline: 0; }

a {
  text-decoration: none;
  outline: 0; }
  a:hover {
    text-decoration: underline; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

h2 {
  font-size: 40px;
  color: #ff9016;
  font-weight: 300; }

h3 {
  margin-bottom: 20px;
  color: #000;
  font-size: 35px;
  font-weight: 300; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }
  @media (max-width: 320px) {
    h3 {
      font-size: 22px; } }

h4 {
  color: #000;
  font-size: 28px;
  font-weight: 300; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -100px 0; }

.container_center {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.list {
  margin-top: 16px;
  margin-bottom: 40px; }
  .list > * {
    line-height: 18px;
    padding-left: 15px; }
    .list > *:before {
      content: '·';
      font-size: 30px;
      display: inline-block;
      vertical-align: sub;
      margin-right: 5px;
      margin-left: -14px; }
    .list > * + * {
      padding-top: 13px; }

img {
  max-width: 100%; }
  img.fl__left {
    margin-top: 14px;
    margin-right: 29px;
    margin-bottom: 20px; }
  img.fl__right {
    margin-top: 14px;
    margin-bottom: 20px;
    margin-left: 29px; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: white;
  border: 1px solid #ccc;
  padding: 16px 32px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Gill Sans MT", sans-serif; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border: 1px solid #004b69; }
    input:not([type]):focus ::-webkit-input-placeholder,
    input[type=text]:focus ::-webkit-input-placeholder,
    input[type=password]:focus ::-webkit-input-placeholder,
    input[type=email]:focus ::-webkit-input-placeholder,
    input[type=url]:focus ::-webkit-input-placeholder,
    input[type=search]:focus ::-webkit-input-placeholder,
    input[type=tel]:focus ::-webkit-input-placeholder,
    input[type=number]:focus ::-webkit-input-placeholder,
    input[type=datetime]:focus ::-webkit-input-placeholder,
    textarea:focus ::-webkit-input-placeholder {
      color: #fff; }
    input:not([type]):focus :-moz-placeholder,
    input[type=text]:focus :-moz-placeholder,
    input[type=password]:focus :-moz-placeholder,
    input[type=email]:focus :-moz-placeholder,
    input[type=url]:focus :-moz-placeholder,
    input[type=search]:focus :-moz-placeholder,
    input[type=tel]:focus :-moz-placeholder,
    input[type=number]:focus :-moz-placeholder,
    input[type=datetime]:focus :-moz-placeholder,
    textarea:focus :-moz-placeholder {
      color: #fff; }
    input:not([type]):focus ::-moz-placeholder,
    input[type=text]:focus ::-moz-placeholder,
    input[type=password]:focus ::-moz-placeholder,
    input[type=email]:focus ::-moz-placeholder,
    input[type=url]:focus ::-moz-placeholder,
    input[type=search]:focus ::-moz-placeholder,
    input[type=tel]:focus ::-moz-placeholder,
    input[type=number]:focus ::-moz-placeholder,
    input[type=datetime]:focus ::-moz-placeholder,
    textarea:focus ::-moz-placeholder {
      color: #fff; }
    input:not([type]):focus :-ms-input-placeholder,
    input[type=text]:focus :-ms-input-placeholder,
    input[type=password]:focus :-ms-input-placeholder,
    input[type=email]:focus :-ms-input-placeholder,
    input[type=url]:focus :-ms-input-placeholder,
    input[type=search]:focus :-ms-input-placeholder,
    input[type=tel]:focus :-ms-input-placeholder,
    input[type=number]:focus :-ms-input-placeholder,
    input[type=datetime]:focus :-ms-input-placeholder,
    textarea:focus :-ms-input-placeholder {
      color: #fff; }
  input:not([type]).input_error,
  input[type=text].input_error,
  input[type=password].input_error,
  input[type=email].input_error,
  input[type=url].input_error,
  input[type=search].input_error,
  input[type=tel].input_error,
  input[type=number].input_error,
  input[type=datetime].input_error,
  textarea.input_error {
    background-color: #fff0f0;
    border: 1px solid red; }
  input:not([type]) ::-webkit-input-placeholder,
  input[type=text] ::-webkit-input-placeholder,
  input[type=password] ::-webkit-input-placeholder,
  input[type=email] ::-webkit-input-placeholder,
  input[type=url] ::-webkit-input-placeholder,
  input[type=search] ::-webkit-input-placeholder,
  input[type=tel] ::-webkit-input-placeholder,
  input[type=number] ::-webkit-input-placeholder,
  input[type=datetime] ::-webkit-input-placeholder,
  textarea ::-webkit-input-placeholder {
    color: #b3b3b3; }
  input:not([type]) :-moz-placeholder,
  input[type=text] :-moz-placeholder,
  input[type=password] :-moz-placeholder,
  input[type=email] :-moz-placeholder,
  input[type=url] :-moz-placeholder,
  input[type=search] :-moz-placeholder,
  input[type=tel] :-moz-placeholder,
  input[type=number] :-moz-placeholder,
  input[type=datetime] :-moz-placeholder,
  textarea :-moz-placeholder {
    color: #b3b3b3; }
  input:not([type]) ::-moz-placeholder,
  input[type=text] ::-moz-placeholder,
  input[type=password] ::-moz-placeholder,
  input[type=email] ::-moz-placeholder,
  input[type=url] ::-moz-placeholder,
  input[type=search] ::-moz-placeholder,
  input[type=tel] ::-moz-placeholder,
  input[type=number] ::-moz-placeholder,
  input[type=datetime] ::-moz-placeholder,
  textarea ::-moz-placeholder {
    color: #b3b3b3; }
  input:not([type]) :-ms-input-placeholder,
  input[type=text] :-ms-input-placeholder,
  input[type=password] :-ms-input-placeholder,
  input[type=email] :-ms-input-placeholder,
  input[type=url] :-ms-input-placeholder,
  input[type=search] :-ms-input-placeholder,
  input[type=tel] :-ms-input-placeholder,
  input[type=number] :-ms-input-placeholder,
  input[type=datetime] :-ms-input-placeholder,
  textarea :-ms-input-placeholder {
    color: #b3b3b3; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }

input[type=radio] {
  border-radius: 50%; }

input[type=checkbox]:before,
input[type=radio]:before {
  display: block; }

input[type=radio]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000; }

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #ddd; }

input[type=radio]:disabled:checked:before {
  background-color: #aaa; }

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.error {
  color: red; }

.grid__wrapper {
  float: left; }

.grid__1 .grid__wrapper {
  width: 100%; }

.grid__2 .grid__wrapper {
  width: 50%; }

.grid__3 .grid__wrapper {
  width: 33.333%; }

.grid__4 .grid__wrapper {
  width: 25%; }

.grid__5 .grid__wrapper {
  width: 20%; }

.grid__6 .grid__wrapper {
  width: 16.666%; }

.grid__7 .grid__wrapper {
  width: 14.285%; }

.btn {
  color: white;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 14px 15px 19px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #005766;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    opacity: .8; }
  .btn_primary {
    background: #000; }
  .btn_success {
    background: #27BA6C; }
  .btn_info {
    background: #03a9f4; }
  .btn_warning {
    background: #FF8833; }
  .btn_danger {
    background: #ff1a1a; }

.soc {
  float: left; }
  .soc a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s; }
    .soc a:hover {
      opacity: .8; }
    .soc a:before {
      content: 'soc';
      color: #fff;
      text-decoration: none; }

.copy {
  float: right; }

.dn, .hidden {
  display: none; }

.clearfix:after {
  content: '';
  clear: both;
  display: table;
  width: 100%; }

.link {
  position: relative;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }
    @media (max-width: 480px) {
      .link:hover {
        text-decoration: none; } }
  .link__btn {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #27272B;
    text-decoration: none; }

.more {
  color: #2C85B8; }

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: 100px;
  padding-bottom: 4000px; }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: 100px;
  background: #BFF08E; }
  .footer .container_center {
    padding-top: 10px;
    padding-bottom: 10px; }

/* Libs
 ----------------------------------------------------------------------------- */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table; }

.lightSlider {
  overflow: hidden;
  margin: 0; }

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative; }

.lSSlideWrapper > .lightSlider:after {
  clear: both; }

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade {
  position: relative; }

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%; }

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade > *.active {
  z-index: 10; }

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1; }

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center; }

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s; }

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca; }

.lSSlideOuter .media {
  opacity: 0.8; }

.lSSlideOuter .media.active {
  opacity: 1; }

/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px; }

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%; }

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table; }

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both; }

/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("../img/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s; }

.lSAction > a:hover {
  opacity: 1; }

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px; }

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px; }

.lSAction > a.disabled {
  pointer-events: none; }

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }

/* vertical */
.lSSlideOuter.vertical {
  position: relative; }

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important; }

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0; }

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important; }

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px; }

/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl; }

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none; }

.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0; }

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left; }

.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important; }

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }

@keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }

@-webkit-keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }

@keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }

@-webkit-keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }

@keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }

@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }

@keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative; }

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative; }

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative; }

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative; }

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative; }

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative; }

/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/* parts
 ----------------------------------------------------------------------------- */
.header {
  position: relative;
  z-index: 8;
  padding: 18px 0 6px;
  font-size: 13px;
  background-color: #f7f5f2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: margin-bottom .7s; }
  @media (max-width: 991px) {
    .header {
      padding: 0; } }
  @media (max-width: 767px) {
    .header .container_center {
      padding: 0; } }

.stiky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
  overflow: hidden;
  float: left;
  margin-left: -36px; }
  @media (max-width: 1199px) {
    .navbar {
      margin-left: -20px; } }
  @media (max-width: 767px) {
    .navbar {
      position: relative;
      top: 41px;
      width: 100%;
      z-index: 10;
      margin-left: 0;
      margin-bottom: 41px;
      display: none;
      background-color: #5d5d5d; } }
  .navbar__item {
    float: left;
    margin-left: 36px; }
    @media (max-width: 1199px) {
      .navbar__item {
        margin-left: 20px; } }
    @media (max-width: 767px) {
      .navbar__item {
        float: none;
        margin-left: 0; } }
  .navbar__link {
    padding: 13px 0;
    display: block;
    color: #5d5d5d;
    font-weight: 300; }
    .navbar__link:hover {
      color: #ff9016;
      text-decoration: none; }
    @media (max-width: 767px) {
      .navbar__link {
        padding: 13px 15px;
        color: #fff;
        font-size: 15px; }
        .navbar__link:hover {
          background-color: #656565; } }
  .navbar__toggle {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 30px;
    height: 25px;
    padding: 3px 0; }
    @media (max-width: 767px) {
      .navbar__toggle {
        display: block; } }
    .navbar__toggle_wrap {
      display: none; }
      .navbar__toggle_wrap:hover .navbar__toggle {
        opacity: .7; }
      @media (max-width: 767px) {
        .navbar__toggle_wrap {
          position: relative;
          padding: 20px 0 21px;
          display: block;
          cursor: pointer; } }

.icon-bar {
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
  display: block;
  background-color: #5d5d5d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* Addresses
-------------------------------------------------------------------------------*/
.addresses {
  float: left;
  margin-left: 68px;
  line-height: 1.3; }
  @media (max-width: 1230px) {
    .addresses {
      margin-left: 40px; } }
  @media (max-width: 1199px) {
    .addresses {
      margin-left: 0; } }
  @media (max-width: 991px) {
    .addresses {
      display: none; } }
  .addresses__item {
    float: left;
    margin-left: 74px; }
    @media (max-width: 1199px) {
      .addresses__item {
        margin-left: 35px; } }
  .addresses__top {
    margin-bottom: 2px;
    color: #ff9016; }
  .addresses__down {
    font-size: 14px;
    font-family: 'Gill Sans Light';
    font-weight: 500; }
  .addresses__tel, .addresses__time {
    float: left; }
  .addresses__time {
    position: relative;
    margin-left: 13px;
    padding-left: 14px; }
    .addresses__time:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      background-color: #ff9016;
      width: 1px;
      height: 10px;
      display: block; }

.slider__top_slide {
  position: relative;
  min-height: 510px;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .slider__top_slide {
      background-position: 0 center; } }
  @media (max-width: 992px) {
    .slider__top_slide {
      background-position: -65px center; } }
  @media (max-width: 768px) {
    .slider__top_slide {
      background-position: -145px center; } }
  @media (max-width: 480px) {
    .slider__top_slide {
      background-position: center center; } }

.slider__top_bg {
  position: absolute;
  top: -140%;
  left: -30%;
  z-index: 3;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  background-color: #fbf5f0;
  opacity: .9; }
  @media (max-width: 1620px) {
    .slider__top_bg {
      left: -50%; } }
  @media (max-width: 1366px) {
    .slider__top_bg {
      left: -70%; } }
  @media (max-width: 1200px) {
    .slider__top_bg {
      left: -84%; } }
  @media (max-width: 992px) {
    .slider__top_bg {
      left: -108%; } }
  @media (max-width: 768px) {
    .slider__top_bg {
      left: -140%; } }
  @media (max-width: 480px) {
    .slider__top_bg {
      opacity: .8; } }

.slider__top_slide1 {
  background: url("../img/slider-top/slider__top1.jpg") right center no-repeat; }
  @media (max-width: 1200px) {
    .slider__top_slide1 {
      background-position: 0 center; } }
  @media (max-width: 992px) {
    .slider__top_slide1 {
      background-position: -105px center; } }
  @media (max-width: 768px) {
    .slider__top_slide1 {
      background-position: -145px center; } }
  @media (max-width: 480px) {
    .slider__top_slide1 {
      background-position: -535px center; } }

.slider__top_slide2 {
  background: url("../img/slider-top/slider__top2.jpg") right center no-repeat; }
  @media (max-width: 1366px) {
    .slider__top_slide2 {
      background-position: 0 center; } }
  @media (max-width: 480px) {
    .slider__top_slide2 {
      background-position: -295px center; } }
  @media (max-width: 1366px) {
    .slider__top_slide2 .slider__top_bg {
      left: -67%; } }
  @media (max-width: 1200px) {
    .slider__top_slide2 .slider__top_bg {
      left: -82%; } }
  @media (max-width: 992px) {
    .slider__top_slide2 .slider__top_bg {
      left: -105%; } }
  @media (max-width: 768px) {
    .slider__top_slide2 .slider__top_bg {
      left: -136%; } }

.slider__top_slide3 {
  background: url("../img/slider-top/slider__top3.1.jpg") right center no-repeat; }
  @media (max-width: 768px) {
    .slider__top_slide3 {
      background-position: -330px center; } }
  @media (max-width: 480px) {
    .slider__top_slide3 {
      background-position: -630px center; } }
  @media (max-width: 320px) {
    .slider__top_slide3 {
      background-position: -710px center; } }

.slider__top_slide4 {
  background: url("../img/slider-top/slider__top4.1.jpg") right center no-repeat; }
  @media (max-width: 1200px) {
    .slider__top_slide4 {
      background-position: 0 center; } }
  @media (max-width: 768px) {
    .slider__top_slide4 {
      background-position: -120px center; } }
  @media (max-width: 480px) {
    .slider__top_slide4 {
      background-position: -295px center; } }
  @media (max-width: 320px) {
    .slider__top_slide4 {
      background-position: -450px center; } }

.slider__top_slide5 {
  background: url("../img/slider-top/slider__top5.jpg") right center no-repeat; }
  @media (max-width: 1200px) {
    .slider__top_slide5 {
      background-position: 0 center; } }
  @media (max-width: 768px) {
    .slider__top_slide5 {
      background-position: -120px center; } }
  @media (max-width: 480px) {
    .slider__top_slide5 {
      background-position: -495px center; } }
  @media (max-width: 320px) {
    .slider__top_slide5 {
      background-position: -580px center; } }
  @media (max-width: 1366px) {
    .slider__top_slide5 .slider__top_bg {
      left: -67%; } }
  @media (max-width: 1200px) {
    .slider__top_slide5 .slider__top_bg {
      left: -82%; } }
  @media (max-width: 992px) {
    .slider__top_slide5 .slider__top_bg {
      left: -105%; } }
  @media (max-width: 768px) {
    .slider__top_slide5 .slider__top_bg {
      left: -136%; } }

.slider__top_slide6 {
  background: url("../img/slider-top/slider__top6.jpg") right center no-repeat; }
  @media (max-width: 1620px) {
    .slider__top_slide6 {
      background-position: 470px center; } }
  @media (max-width: 1366px) {
    .slider__top_slide6 {
      background-position: 300px center; } }
  @media (max-width: 1200px) {
    .slider__top_slide6 {
      background-position: 205px center; } }
  @media (max-width: 992px) {
    .slider__top_slide6 {
      background-position: 205px center; } }
  @media (max-width: 768px) {
    .slider__top_slide6 {
      background-position: 185px center; } }
  @media (max-width: 480px) {
    .slider__top_slide6 {
      background-position: -130px center; } }
  @media (max-width: 320px) {
    .slider__top_slide6 {
      background-position: -210px center; } }
  @media (max-width: 1920px) {
    .slider__top_slide6 .slider__top_bg {
      left: -35%; } }
  @media (max-width: 1620px) {
    .slider__top_slide6 .slider__top_bg {
      left: -50%; } }
  @media (max-width: 1366px) {
    .slider__top_slide6 .slider__top_bg {
      left: -70%; } }
  @media (max-width: 1200px) {
    .slider__top_slide6 .slider__top_bg {
      left: -83%; } }
  @media (max-width: 992px) {
    .slider__top_slide6 .slider__top_bg {
      left: -108%; } }
  @media (max-width: 768px) {
    .slider__top_slide6 .slider__top_bg {
      left: -140%; } }
  @media (max-width: 480px) {
    .slider__top_slide6 .slider__top_bg {
      left: -140%; } }

.slider__top_slide7 {
  background: url("../img/slider-top/slider__top7.jpg") right center no-repeat; }
  @media (max-width: 320px) {
    .slider__top_slide7 br {
      display: none; } }
  @media (max-width: 1620px) {
    .slider__top_slide7 {
      background-position: 430px center; } }
  @media (max-width: 1366px) {
    .slider__top_slide7 {
      background-position: 255px center; } }
  @media (max-width: 992px) {
    .slider__top_slide7 {
      background-position: 140px center; } }
  @media (max-width: 768px) {
    .slider__top_slide7 {
      background-position: -5px center; } }
  @media (max-width: 480px) {
    .slider__top_slide7 {
      background-position: -345px center; } }
  @media (max-width: 320px) {
    .slider__top_slide7 {
      background-position: -440px center; } }
  @media (max-width: 1620px) {
    .slider__top_slide7 .slider__top_bg {
      left: -45%; } }
  @media (max-width: 1366px) {
    .slider__top_slide7 .slider__top_bg {
      left: -65%; } }
  @media (max-width: 1200px) {
    .slider__top_slide7 .slider__top_bg {
      left: -78%; } }
  @media (max-width: 992px) {
    .slider__top_slide7 .slider__top_bg {
      left: -100%; } }
  @media (max-width: 768px) {
    .slider__top_slide7 .slider__top_bg {
      left: -130%; } }
  @media (max-width: 480px) {
    .slider__top_slide7 .slider__top_bg {
      left: -130%; } }

.slider__top_slide8 {
  background: url("../img/slider-top/slider__top8.jpg") right center no-repeat; }
  @media (max-width: 1366px) {
    .slider__top_slide8 {
      background-position: 210px center; } }
  @media (max-width: 1200px) {
    .slider__top_slide8 {
      background-position: 120px center; } }
  @media (max-width: 992px) {
    .slider__top_slide8 {
      background-position: 25px center; } }
  @media (max-width: 768px) {
    .slider__top_slide8 {
      background-position: 35px center; } }
  @media (max-width: 320px) {
    .slider__top_slide8 {
      background-position: -375px center; } }
  @media (max-width: 1620px) {
    .slider__top_slide8 .slider__top_bg {
      left: -48%; } }
  @media (max-width: 1366px) {
    .slider__top_slide8 .slider__top_bg {
      left: -68%; } }
  @media (max-width: 1200px) {
    .slider__top_slide8 .slider__top_bg {
      left: -81%; } }
  @media (max-width: 992px) {
    .slider__top_slide8 .slider__top_bg {
      left: -105%; } }
  @media (max-width: 768px) {
    .slider__top_slide8 .slider__top_bg {
      left: -135%; } }

.slider__top_info {
  position: absolute;
  z-index: 5;
  height: 510px;
  font-family: 'Gill Sans Light';
  font-weight: 300; }
  @media (max-width: 1200px) {
    .slider__top_info {
      padding-left: 15px; } }
  @media (max-width: 320px) {
    .slider__top_info {
      padding-left: 5px; } }

.slider__top_logo {
  margin-top: 50px;
  margin-bottom: 40px; }

.slider__top_addresses {
  margin-bottom: 70px;
  font-size: 30px; }
  @media (max-width: 992px) {
    .slider__top_addresses {
      font-size: 25px; } }
  @media (max-width: 320px) {
    .slider__top_addresses {
      font-size: 22px; } }
  .slider__top_addresses_item {
    line-height: 1.6; }
    .slider__top_addresses_item:before {
      content: '';
      position: relative;
      top: -5px;
      z-index: 6;
      margin-right: 15px;
      width: 5px;
      height: 5px;
      display: inline-block;
      background-color: #5d5d5d;
      border-radius: 50%; }

.slider__top_arrows {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 45px;
  height: 15px; }

.slider__top_arrow {
  position: absolute;
  width: 7.5px;
  height: 15px;
  display: block;
  cursor: pointer;
  background-size: 8px 15px !important; }

.slider__top_prev {
  left: 0;
  background: url("../img/arrow__left.svg") no-repeat; }

.slider__top_right {
  right: 0;
  background: url("../img/arrow__right.svg") no-repeat; }

.slick-dots {
  max-width: 1200px;
  padding: 30px 15px;
  margin: 0 auto;
  display: block; }
  .slick-dots li {
    width: 170px !important;
    float: left;
    margin-left: 30px; }
    .slick-dots li button {
      width: 170px;
      height: 80px;
      display: block;
      color: transparent;
      font-size: 0;
      background-color: transparent;
      border: 0; }
    .slick-dots li:nth-child(1) button, .slick-dots li:nth-child(9) button {
      background: url("../img/slider-top/slider__top_min1.jpg"); }
    .slick-dots li:nth-child(2) button, .slick-dots li:nth-child(10) button {
      background: url("../img/slider-top/slider__top_min2.jpg"); }
    .slick-dots li:nth-child(3) button, .slick-dots li:nth-child(11) button {
      background: url("../img/slider-top/slider__top_min3.jpg"); }
    .slick-dots li:nth-child(4) button, .slick-dots li:nth-child(12) button {
      background: url("../img/slider-top/slider__top_min4.jpg"); }
    .slick-dots li:nth-child(5) button, .slick-dots li:nth-child(13) button {
      background: url("../img/slider-top/slider__top_min5.jpg"); }
    .slick-dots li:nth-child(6) button, .slick-dots li:nth-child(14) button {
      background: url("../img/slider-top/slider__top_min6.jpg"); }
    .slick-dots li:nth-child(7) button, .slick-dots li:nth-child(15) button {
      background: url("../img/slider-top/slider__top_min7.jpg"); }
    .slick-dots li:nth-child(8) button, .slick-dots li:nth-child(16) button {
      background: url("../img/slider-top/slider__top_min8.jpg"); }
  .slick-dots .slick-active {
    opacity: .5; }
