// out: style.css, compress: true

/*===========================
Table of Content

1. Libs
1.1. Fonts
1.2. Variables
1.3. Mixins
1.4. Global syyles
1.5. Helpers styles

2. Parts
2.1. Header
===========================*/

/* Libs
 ----------------------------------------------------------------------------- */
@import "libs/_fonts";
@import "libs/_vars";
@import "libs/_mixins";
@import "libs/_global";
@import "libs/_helpers";

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: 100px;
	padding-bottom: 4000px;
	@extend %clear_a;
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: 100px;
	background: #BFF08E;
	@extend %clear_all;
	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}



/* parts
 ----------------------------------------------------------------------------- */
@import "parts/header";