// out: style.css, compress: true

/*===========================
Table of Content

1. Libs
1.1. Fonts
1.2. Variables
1.3. Mixins
1.4. Global syyles
1.5. Helpers styles

3. Parts
3.1. Header
===========================*/

/* Libs
 ----------------------------------------------------------------------------- */
@import "_fonts";
@import "_vars";
@import "_mixins";
@import "_global";
@import "_helpers";

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: 100px;
	padding-bottom: 4000px;
	@extend %clear_a;
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: 100px;
	background: #BFF08E;
	@extend %clear_all;
	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/* Libs
 ----------------------------------------------------------------------------- */
 @import "libs/slick";



/* parts
 ----------------------------------------------------------------------------- */
@import "parts/header";
@import "parts/slider-top";