//main: style.scss

.fl__left {
	float: left;
}

.fl_right {
	float: right;
}

.form__row {
	@extend %clear_a;
}

// Reset brouser styles ========================
* {
	margin: 0;
	padding: 0;
	// @include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
	// @include box-sizing(border-box);
}

html,body,.wrapper {
	height: 100%;
	position: relative;
}

html {
	width: 100%;
	max-width: 100%;
    overflow-x: hidden;
}

body {
	width: 100%;
	max-width: 100%;
    overflow-x: hidden;
	color: #5d5d5d;
	font-family: $main_font_family;
	background: url('../img/body_bg.png') 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

input, textarea {
	outline: 0;
}

a {
	text-decoration: none;
	outline: 0;
	&:hover {
		text-decoration: underline;
	}
}

ol,ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

h2 {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
	font-size: 40px;
	color: #ff9016;
	font-weight: 300;
	&.line {
		padding-bottom: 8px;
		margin-bottom: 0;
		border-bottom: 2px solid #ebebeb;
	}
	@media (max-width : 768px) {
		margin-bottom: 30px;
		font-size: 30px;
	}
}

h3 {
	margin-bottom: 20px;
	color: #000;
	font-size: 35px;
	font-weight: 300;
	@media (max-width : 992px) {
		font-size: 30px;
	}
	@media (max-width : 320px) {
		font-size: 22px;
	}
}

h4 {
	color: #000;
	font-size: 28px;
	font-weight: 300;
	@media (max-width : 479px) {
		font-size: 21px;
	}
}

// Main wrappers =====================================
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; // отрицательный нижний отступ на высоту футера

}

.container_center {
	max-width: 1200px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	&.out {
		padding: 0;
	}
}

.list {
	margin-top: 16px;
	margin-bottom: 40px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '·';
			font-size: 30px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 5px;
			margin-left: -14px;;
		}
		&+* {
			padding-top: 13px;
		}
	}
}

img {
	max-width: 100%;
	&.fl__left {
		margin-top: 14px;
		margin-right: 29px;
		margin-bottom: 20px;
	}
	&.fl__right {
		margin-top: 14px;
		margin-bottom: 20px;
		margin-left: 29px;
	}
}

section {
	margin-bottom: 20px;
}

button {
	outline: 0;
}

// Input text and textarea =============================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: white;
	border: 1px solid #ebebeb;
	padding: 8px 12px;
	outline: none;
	font-size: 14px;
	font-weight: 300;
	font-family: Roboto;
	display: block;
	box-sizing: border-box;
	&::-webkit-input-placeholder {color: #c7c7c7;}
	&::-moz-placeholder          {color: #c7c7c7;}/* Firefox 19+ */
	&:-moz-placeholder           {color: #c7c7c7;}/* Firefox 18- */
	&:-ms-input-placeholder      {color: #c7c7c7;}

	&:focus {
		// border: 1px solid #004b69;
		@include placeholder {
			color: #fff;
		}
	}
	&.input_error {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input ====================
	@include placeholder {
		color: #c7c7c7;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: "\2714";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 13px;
    color: #000;
}

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

.error {
	color: red;
}

// .grid {
// 	margin-left: -25px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: flex-start;
// 	@extend %clear_all;
// 	&__wrapper {
// 		padding-left: 25px;
// 		align-items: stretch;
// 		align-content: stretch;
// 	}
// 	&__item {

// 	}
// }

.grid {
	// margin-left: -25px;
	@extend %clear_all;
	&__wrapper {
		// padding-left: 25px;
		float: left;
	}
	&__1 {
		.grid__wrapper {  
			width: 100%;
		}
	}
	&__2 {
		.grid__wrapper {  
			width: 50%;
		}
	}
	&__3 {
		.grid__wrapper {  
			width: 33.333%;
		}
	}
	&__4 {
		.grid__wrapper {  
			width: 25%;
		}
	}
	&__5 {
		.grid__wrapper {  
			width: 20%;
		}
	}
	&__6 {
		.grid__wrapper {  
			width: 16.666%;
		}
	}
	&__7 {
		.grid__wrapper {  
			width: 14.285%;
		}
	}
}

// Style for button and pseudo button for input and link
.btn {
	color: white;
	font-family: $main_font_family;
	font-size: 22px;
	font-weight: 300;
	padding: 14px 15px 19px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: #005766;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	// @include border-radius(28px);
	@include trs(0.3s);
	&:hover {
		opacity: .8;
	}
	@each $status, $color in $el_bg_colors {
		&_#{$status} {
			background: $color;
		}
	}	
}

.main__content {
	padding-bottom: 100px;
	@extend %clear_a;
}