//main: style.scss

.dn, .hidden {display: none;}

.clearfix:after {
	content: '';
	clear: both;
	display: table;
	width: 100%;
}

.link {
	position: relative;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		@media (max-width : 480px) {
			text-decoration: none;
		}
	}
	&__btn {
		background-color: transparent;
		border: 0;
		outline: 0;
		cursor: pointer;
		color: #27272B;
		text-decoration: none;
	}
}

.more {
	color: #2C85B8;
}