//main: style.scss

.actions {
	margin: 0 -15px 56px;
	overflow: hidden;
	@media (max-width : 1365px) {
		margin: 0 0 56px;
	}
	@media (max-width : 768px) {
		margin-bottom: 40px;
	}
	&__list {
		margin-top: 20px;
		margin-left: -30px;
		width: auto;
		clear: both;
		@media (max-width : 600px) {
			margin-left: 0;
		}
		&_item {
			width: 33.3%;
			overflow: hidden;
			float: left;
			display: block;
			padding-left: 30px;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@media (max-width : 992px) {
				width: 50%;
				margin-bottom: 20px;
			}
			@media (max-width : 600px) {
				width: 370px;
				padding-left: 0;
				float: none;
				margin: 0 auto;
			}
			@media (max-width : 480px) {
				width: 100%;
			}
		}
	}
	&__img {
		width: 100%;
		height: auto;
		display: block;
	}
	&__info {
		padding: 21px 20px;
	}
	&__p {
		margin-top: 20px;
		font-size: 13px;
		font-family: 'Gill Sans Light';
		line-height: 1.4;
	}	
}