//main: style.scss

.footer {
	position: relative;
	padding: 37px 83px 115px 83px;
	@extend %clear_all;
	@media (max-width : 768px) {
		padding: 37px 0;
	}
	&__left {
		padding-left: 50px;
		float: left;
		color: #000;
		font-size: 12px;
		font-family: 'Arial MT', sans-serif;
		line-height: 2.9;
		background: url('../img/age_limit.png') 0 0 no-repeat;
		@media (max-width : 600px) {
			float: none;
			margin-bottom: 15px;
		}
	}
	&__link {
		color: #000;
	}
	&__right {
		float: right;
		margin-top: 7px;
		margin-right: 3px;
		@media (max-width : 768px) {
			margin: 0;
		}
		@media (max-width : 600px) {
			float: none;
		}
	}
}

.soc {
	@extend %clear_a;
	&__item {
		float: left;
		margin-left: 10px;
	}
	&__link {
		width: 27px;
		height: 27px;
		display: block;
		cursor: pointer;
		&:hover {
			opacity: .8;
		}
	}
}