//main: style.scss

.slider__top {
	&_slide {
		position: relative;
		width: 100%;
		height: 510px;
		z-index: 0;
		overflow: hidden;
	}
	&_img {
		width: 100%;
		height: auto;
		display: block;
		&_wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			&_in {
				position: absolute;
				right: 0;
				z-index: 1;
				height: 100%;
				display: block;
			}
		}
	}
	&_bg {
		position: absolute;
		top: -140%;
		left: -30%;
		z-index: 3;
		width: 1500px;
		height: 1500px;
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
		border-radius: 50%;
		background-color: #fbf5f0;
		opacity: .9;
		@media (max-width : 1620px) {
			left: -50%;
		}
		@media (max-width : 1366px) {
			left: -70%;
		}
		@media (max-width : 1200px) {
			left: -84%;
		}
		@media (max-width : 992px) {
			left: -108%;
		}
		@media (max-width : 768px) {
			left: -140%;
		}
		@media (max-width : 480px) {
			opacity: .8;
		}
	}
	&_slide1 {
		.slider__top_img_wrap_in {			
			width: 1346px;
			@media (max-width : 1200px) {
				left: 0;
				right: auto;
			}
			@media (max-width : 992px) {
				left: -105px;
			}
			@media (max-width : 768px) {
				left: -145px;
			}
			@media (max-width : 480px) {
				left: -535px;
			}
		}
	}
	&_slide2 {
		.slider__top_img_wrap_in {
			width: 1541px;
			@media (max-width : 1366px) {
				right: auto;
			}
			@media (max-width : 480px) {
				left: -295px;
			}
		}
		.slider__top_bg {
			@media (max-width : 1366px) {
				left: -67%;
			}
			@media (max-width : 1200px) {
				left: -82%;
			}
			@media (max-width : 992px) {
				left: -105%;
			}
			@media (max-width : 768px) {
				left: -136%;
			}
		}
	}
	&_slide3 {
		.slider__top_img_wrap_in {
			width: 1294px;
			right: 0;
			@media (max-width : 768px) {
				left: -330px;
				right: auto;
			}
			@media (max-width : 480px) {
				left: -630px;
			}
			@media (max-width : 320px) {
				left: -710px;
			}
		}
	}
	&_slide4 {
		.slider__top_img_wrap_in {
			width: 1285px;
			@media (max-width : 1200px) {
				left: 0;
				right: auto;
			}
			@media (max-width : 768px) {
				left: -120px;
			}
			@media (max-width : 480px) {
				left: -295px;
			}
			@media (max-width : 320px) {
				left: -450px;
			}
		}
	}
	&_slide5 {
		.slider__top_img_wrap_in {
			width: 1251px;
			@media (max-width : 1200px) {
				left: 0;
				right: auto;
			}
			@media (max-width : 768px) {
				left: -120px;
			}
			@media (max-width : 480px) {
				left: -495px;
			}
			@media (max-width : 320px) {
				left: -580px;
			}
		}
		.slider__top_bg {
			@media (max-width : 1366px) {
				left: -67%;
			}
			@media (max-width : 1200px) {
				left: -82%;
			}
			@media (max-width : 992px) {
				left: -105%;
			}
			@media (max-width : 768px) {
				left: -136%;
			}
		}
	}
	&_slide6 {
		.slider__top_img_wrap_in {
			width: 1307px;
			@media (max-width : 1620px) {
				left: 470px;
				right: auto;
			}
			@media (max-width : 1366px) {
				left: 300px;
			}
			@media (max-width : 1200px) {
				left: 205px;
			}
			@media (max-width : 768px) {
				left: 185px;
			}
			@media (max-width : 480px) {
				left: -130px;
			}
			@media (max-width : 320px) {
				left: -210px;
			}
		}
		.slider__top_bg {
			@media (max-width : 1920px) {
				left: -35%;
			}
			@media (max-width : 1620px) {
				left: -50%;
			}
			@media (max-width : 1366px) {
				left: -70%;
			}
			@media (max-width : 1200px) {
				left: -83%;
			}
			@media (max-width : 992px) {
				left: -108%;
			}
			@media (max-width : 768px) {
				left: -140%;
			}
			@media (max-width : 480px) {
				left: -140%;
			}
		}
	}
	&_slide7 {
		.slider__top_img_wrap_in {
			width: 1267px;
			@media (max-width : 1620px) {
				left: 430px;
				right: auto;
			}
			@media (max-width : 1366px) {
				left: 255px;
			}
			@media (max-width : 992px) {
				left: 140px;
			}
			@media (max-width : 768px) {
				left: -5px;
			}
			@media (max-width : 480px) {
				left: -345px;
			}
			@media (max-width : 320px) {
				left: -440px;
			}
		}
		@media (max-width : 320px) {
			br {display: none;}
		}
		.slider__top_bg {
			@media (max-width : 1620px) {
				left: -45%;
			}
			@media (max-width : 1366px) {
				left: -65%;
			}
			@media (max-width : 1200px) {
				left: -78%;
			}
			@media (max-width : 992px) {
				left: -100%;
			}
			@media (max-width : 768px) {
				left: -130%;
			}
			@media (max-width : 480px) {
				left: -130%;
			}
		}
	}
	&_slide8 {
		.slider__top_img_wrap_in {
			width: 1254px;
			@media (max-width : 1366px) {
				left: 210px;
				right: auto;
			}
			@media (max-width : 1200px) {
				left: 120px;
			}
			@media (max-width : 992px) {
				left: 25px;
			}
			@media (max-width : 768px) {
				left: 35px;
			}
			@media (max-width : 480px) {
				left: 0;
			}
		}
		.slider__top_bg {
			@media (max-width : 1620px) {
				left: -48%;
			}
			@media (max-width : 1366px) {
				left: -68%;
			}
			@media (max-width : 1200px) {
				left: -81%;
			}
			@media (max-width : 992px) {
				left: -105%;
			}
			@media (max-width : 768px) {
				left: -135%;
			}
		}
	}
	&_info {
		position: absolute;
		z-index: 5;
		height: 510px;
		font-family: 'Gill Sans Light';
		font-weight: 300;
		@media (max-width : 1200px) {
			padding-left: 15px;
		}
		@media (max-width : 320px) {
			padding-left: 5px;
		}
	}
	&_logo {
		margin-top: 50px;
		margin-bottom: 40px;
	}
	&_addresses {
		margin-bottom: 70px;
		font-size: 30px;
		@media (max-width : 992px) {
			font-size: 25px;
		}
		@media (max-width : 320px) {
			font-size: 22px;
		}
		&_item {
			line-height: 1.6;
			&:before {
				content: '';
				position: relative;
				top: -5px;
				z-index: 6;
				margin-right: 15px;
				width: 5px;
				height: 5px;
				display: inline-block;
				background-color: #5d5d5d;
				-webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}
	&_arrows {
		position: absolute;
		bottom: 40px;
		left: 0;
		width: 45px;
		height: 15px;
		@media (max-width : 1200px) {
			left: 15px;
		}
	}
	&_arrow {
		position: absolute;
		width: 7.5px;
		height: 15px;
		display: block;
		cursor: pointer;
		-webkit-background-size: 8px 15px !important;
		-moz-background-size: 8px 15px !important;
		-o-background-size: 8px 15px !important;
		background-size: 8px 15px !important;
	}
	&_prev {
		left: 0;
		background: url('../img/arrow__left.svg') no-repeat;
	}
	&_right {
		right: 0;
		background: url('../img/arrow__right.svg') no-repeat;
	}
}

.slider__top_gallery {
	width: auto;
	margin-left: -30px;
	&_wrap {
		width: 100%;
		height: 80px;
		padding: 30px 0;
		@media (max-width : 991px) {
			display: none;
		}

	}
	&_item {
		margin-left: 30px;
		&.active {
			opacity: .5;
			border-top: 2px solid #ff9016;
		}
	}
	&_img {
		width: 100%;
		height: 80px;
		display: block;
		cursor: pointer;
	}
}

.js-slider__top_gallery,
.js-slide {
	&:focus {
		outline: 0;
	}
}